/*New About Us*/

.about-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.about-us-bg {
  position: relative;
  width: 100%;
  height: 86vh;
  object-fit: cover;
  object-position: bottom;
  transition: 1s ease-in-out;
}

.about-us-bg:hover {
  filter: brightness(50%);
}

.about-us-title {
  position: absolute;
  font-size: 6rem;
  font-weight: 600;
  z-index: 10;
  color: #ffffff;
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 40px  rgba(44, 44, 44, 0.333);
}

.about-us-body-text {
  font-size: 1.2rem;
  font-weight: 100;
}

.ha-link {
  color: black;
  font-size: 1.2rem;
  transition: 0.5s ease-in-out;
}

.ha-link:hover {
  color: #d64933;
}

/*Icons*/

.technologies-bg {
  background-color: #000000;
  border-radius: 20px;
  margin: 0 0.5rem 2rem 0.5rem;
}

.icons-container {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.icon-container img {
  max-width: 5rem;
  transition: 0.5s ease-in-out;
}

.icon-container img:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0 0 1rem rgb(255, 255, 255)); */
}

.technologies-title {
  padding: 2rem 0 0 0;
  color: white;
  font-weight: 100;
  font-size: 1.2rem;
}

.tech-name {
  padding: 1rem 0 0 0;
  color: white;
  padding-bottom: 0;
  margin: 0;
}

/*Team*/

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 18rem;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 1rem;
}

.team-row {
  background-color: #000000;
  border-radius: 20px;
  margin: 0 0.5rem 2rem 0.5rem;
  justify-content: space-between;
}

.img-team-member {
  filter: grayscale(100%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.img-team-member:hover {
  /* transform: scale(1.05); */
  filter: none;
  box-shadow: 0 1rem 1rem hsl(0 0% 0% / 20%);
}

.team-member-name {
  margin: 1rem 0 0 0;
  color: black;
}

.team-member-job-position {
  font-weight: 100;
  font-size: 0.8rem;
  color: black;
}

.personal-links {
  display: flex;
  justify-content: center;
}

.personal-links i {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #d64933;
}

/*Site Structure Image*/

.site-structure-container {
  background-color: #f6f6f6;
  border-radius: 20px;
  display: flex;

  justify-content: center;
  margin: 0 1rem 2rem;
  align-items: top;
  padding: 2rem;
}

.site-structure-img {
  width: 100%;
}

.site-structure-title {
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .about-us-title {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .about-us-title {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .about-us-title {
    font-size: 3rem;
  }
}
