.adminButton{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
  align-items: center;
  gap: 10px;
}

.adminI{
   padding: 0;
}
.sidebar{
    background-color: black;
    border-radius: 20px;
}
.adminUl{
    padding: 0;
}

.adminTable{
    border-radius: 20px;
    
}

