* {
  font-family: Poppins;
  /* font-weight: 300; */
  font-size: 1rem;

}
i:hover {
  cursor: pointer;
}

.carrito-icon, .profile-icon, .lupita {
  font-size: 25px;
}

body {
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

.navigation p {
  font-size: 18px;
}

.navigation p:hover {
  cursor: pointer;

}

li:hover {
  cursor: pointer;
}

.apparat-logo:hover {
  cursor: pointer;
}

/* .apparat-logo-navbar {
  width: 3rem;

} */

.custom-dropdown{
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 15px;
}

.custom-item{
  font-size: 15px;
  font-family: Poppins;
}

.myNavbar {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
