@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

p {
  font-weight: 500;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

i:hover {
  cursor: pointer;
}

.parent-navbar-container {
  position: relative;
}

.carrito-icon,
.profile-icon,
.lupita {
  font-size:1.3em;
}

body {
  width: 100%;
}

.off-canvas-menu {
  position: absolute;
  top: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

.myNavbar.navbar {
  height: 4rem;
  padding-top: 1rem 0 1rem 0; /* Puedes ajustar este valor según tus necesidades */
}

.custom-item {
  font-size: 1rem;
  font-weight: 400;
}

.menu-icon {
  font-size: 2rem;
}

.higher-z-index {
  z-index: 1000;
  background-color: white;
}

.carrito-icon-responsive {
  display: none;
  padding: 0;
}

/*Toastify css*/
.toast-img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}




@media (max-width: 992px) {
  .carrito-icon-responsive {
    display: block;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .parent-navbar-container {
    padding: 0;
  }

  .carrito-icon-responsive {
    display: block;
    font-size: 18px;
  }

  .profile-icon,
  .lupita {
    font-size: 1.3rem;
  }

  .carrito-icon {
    display: none;
  }

  .shop-profile {
    display: flex;
  }
}

@media (max-width: 576px) {
  .collapse-responsive {
    display: none;
  }

  .profile-icon,
  .lupita {
    display: none;
  }

  .me-auto.d-sm-none.d-lg-flex.navbar-nav.navbar-custom {
    display: none;
  }
  .myNavbar.navbar {
    height: 4rem;
  }
}

/* Button Addtocart */
.addtocart-button{
  margin-left: 20px;
  height: 40px
  
  
}
