* {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
}
i:hover {
  cursor: pointer;
}

body {
  width: 100%;
}
#root {
  margin: 0;
  padding: 0;
}

.navigation p:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

.apparat-logo:hover {
  cursor: pointer;
}
.custom-dropdown{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
}

.custom-item{
  font-size: 15px;
  font-family: Poppins;
}


/*CheckOut*/

.shopping-list {
  margin-left: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.shopping-list img {
  height: 320px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px;
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.shopping-list-product {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
  
}

.product-info{
  display: flex;
  flex-direction: row;
}

.product-identifier{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.shopping-cart-details ul {
  padding: 0;
  
}

.shopping-cart-details{
  padding: 0 0 0 0;
  width: 450px;
}

.total {
  font-weight: 600;
}

.product-name {
  font-size: 1rem;
  margin: 0 0 0 0;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 0 0;
}

.product-sku {
  font-size: 0.7rem;
  margin: 0 0 0 0;
}

.action-button {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  
}

.checkout-buttons{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.checkout-warning{
  font-size: 0.8rem;
}

.delete-from-checkout{
  padding: 0;
}

.table-list{
  width: 450px;
}

.product-list-name{
  width: 250px;
}

.product-list-price{
  width: 120px;
}