
.categories-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-box {
  width: 100%;
  margin-top: 2rem;
  align-items: start;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  color: black;
  padding: 0;
  position: relative;
}

.arrow{
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.category-box:hover {
  background-color: #d64933;
  border-radius: 20px;
  color: white;
}

.category-name {
  font-weight: 600;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.category-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
