
.categories-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-box {
  width: 100%;
  /* background-color: #f6f6f6; */
  margin-top: 2rem;
  align-items: start;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  color: black;
  padding: 0;
  position: relative;
}

.arrow{
  font-size: 1.8rem;
  font-weight: 600;
  color: #00000061;
}


.category-box:hover {
  background-color: #dce3d3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.313);
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.category-name {
  font-weight: 600;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.category-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
