.checkout-product-image{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 15px;
    border: solid 2px rgb(0, 0, 0);
    flex-shrink: 0;
}

.checkout-product{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.checkout-product-details{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.checkout-product-name{
    margin: 0;
    text-align: start;
    font-size: 0.9rem;
}

.checkout-product-ref{
    margin: 0;
    font-size: 0.7rem;
}
.checkout-product-price{
    padding-top: 1rem;
    font-weight: 400;
    margin: 0;
}

.subtotal{
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
}

.checkout-total{
    font-weight: 600;
    font-size: 1.2rem;
}

.checkout-subtotal{
    font-weight: 400;
}

.shopping-list-container{
    background-color:#f6f6f6;
    padding: 1rem;
    border-radius: 20px;
}

.checkout-payment-container{
    background-color:#f6f6f6;
    padding: 1rem;
    border-radius: 20px;
    
}

/*Breadcrum*/

.breadcrumb{
    font-size: 0.8rem;
}