li {
  list-style-type: none;
}
p {
  text-align: center;
}

#footerLogo {
  height: 150px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.rs-icon{
    color: white;
}

.copyright-footer{
    font-size: 0.8rem;
}


.blackCard {
  background-color: rgba(0, 0, 0, 0.80); 
  border: none;
  
}

ul{
  cursor: pointer;
}
li{
  cursor: pointer;
}