.navbar {
  height: 2rem;
}

.apparat-logo img {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-left: 5rem;
}

i {
  padding-left: 2rem;
}

a{
  text-decoration: none;
}


.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 5rem;
}
.navigation p {
  font-weight: 500;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-scroll-up-button{
  position: fixed;
  font-size: 20px;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: block;
  border-radius: 20px 0 0 20px;
  /* box-shadow: 0 0 5px #000000; */
  cursor: pointer;
  display:block;
  z-index: 9999;
}
