.nav-logo {
  width: 150px;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}

.nav-container {
  padding: 0 12px;
  /* background-color: rgb(188, 188, 188); */
  height: 60px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.183);
  z-index: 9999;
}

/*Pages*/
.pages {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
}

.pages p {
  margin: 0;
  font-weight: 300;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
}

/*Dropdown menú*/

.dropdown {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  z-index: 9999;
}

.dropdown button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.dropdown .content {
  display: none;
  font-weight: 300;
  position: absolute;
  /* background-color: hsl(0, 0%, 95%); */
  background-color: white;
  border-radius: 5px;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
  display: block;
  transition: 0.5s ease-in-out;
}

.dropdown a:hover {
  background-color: #dce3d3;
}

.dropdown p i {
  padding: 0;
  font-size: 12px;
}

.navbar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 80px 0 64px;
}

.brand-pages-body {
  display: flex;
}

.brand-pages-body img {
  cursor: pointer;
}

.user-body {
  display: flex;
  position: relative;
  justify-content: space-between;

  width: 150px;
}

.user-body i {
  padding: 8px 4px;
  
}

.nav-icon{
  font-size: 1.33rem;
}

.nav-icon-profile{
 font-size: 1.5rem;
}

/*Icons navbar*/
.icon-nav-container {
  position: relative;
}

.icon-nav-container span {
  background-color: #dce3d3;
  color: #4d4c4e;
  font-weight: 500;
}

.menu-cart-body {
  display: flex;
  justify-content: center;
}

/*Burger Menu*/

.burger-menu {
  position: relative;
}

.burger-menu i {
  display: none;
  font-size: 2rem;
  z-index: 9000;
}

.burger-menu span {
  background-color: #dce3d3;
  color: #4d4c4e;
  font-weight: 500;
  display: none;
}

.cart-menu {
  position: relative;
}

.cart-menu i {
  display: none;
  padding: 8px 4px;
  font-size: 1.33rem;
}

.cart-menu span {
  background-color: #dce3d3;
  color: #4d4c4e;
  font-weight: 500;
  display: none;
}

@media (max-width: 992px) {
  .user-body {
    display: none;
  }

  .navbar-body {
    margin: 0;
  }

  .pages {
    display: none;
  }

  .burger-menu i {
    display: block;
  }

  .cart-menu i {
    display: block;
  }

  .cart-menu span {
    display: block;
  }
}

@media (max-width: 576px) {
  .burger-menu span {
    display: block;
  }

  .nav-logo{
    width: 120px;
  }

  .cart-menu span {
    display: none;
  }
  
}
