.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  padding: 0;
  /* margin: 0.5rem; */
  aspect-ratio:0.7;
  /* object-position: 50% 50%; */
  
}

.product-details {
  font-size: 16px;
}

.product-features {
  font-size: 11px;
  margin-bottom: 0;
}

.product-features p :hover {
  cursor: pointer;
}

.product-details-text {
  font-size: 10px;
}

.product-description {
  font-size: 12px;
}

.collapse-details-text {
  font-size: 10px;
}

.text-select {
  font-size: 12px;
}

.image-product-suggested {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  object-fit: cover;
}


.text-discover-designs {
  font-size: 14px;
}

.body-page {
  margin-top: 7rem;
}

.similar-design-product{
  cursor: pointer;
}

.text-similar-design-name {
  font-size: 1rem;
  margin: 0;

}

.text-similar-design-price{
  margin: 0;
}

.similar-design-background{
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 80px;
  height: 30rem;

}

.carousel-control-next,
.carousel-control-prev {
  padding: 0;
  margin: 0;
}


/* Responsive */
@media (max-width: 768px){
  .product-description{
     max-width: 90vw;
     font-size: 12px;
    
  }

.product-image{
  margin: auto;
}
.product-description{
  margin: auto;
}
.qtty-option{
  margin-top: 2rem;
}

}

