.shop-header {
  position: relative;
  width: 80%;
  height: 50vh;
  object-fit: cover;

  transition: 1s ease-in-out;
}

.img-shop-product {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.img-shop-product:hover{
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.441);
}
