
.newsletter-tittle{
    color: black;
}

.newsletter-paragraph{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.612);
}

.subscription-background{
    background-color: #f6f6f6;
    border-radius: 20px;
    height: 280px;
    color: white;
    display: flex;
    align-items: center;    
}

.subscribe-input{
    height: 3rem;
    width: 60%;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
}

.subscribe-btn{
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
}

.subscription-img{
    height: 200px;
}

/* Responsive */
@media (max-width: 768px){
    .subscription-background{
        height: 480px;
        padding: 1rem 0 1rem 0;
        max-width: 90vw;
    }

    .subscription-img{
        height: 200px;
    }

    .newsletter-paragraph{
        font-size: 12px;
    }

    .newsletter-tittle{
        font-size: 20px;
        margin-top: 2rem;
    }

    .subscription-message{
        display: flex;
        flex-direction: column;
        
    }
   
}