.newsletter-paragraph{
    font-size: 1rem;
}

.container-background{
    background-color: 
    #2C6E49;
    border-radius: 20px;
    height: 280px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    
}

.subscribe-input{
    height: 3rem;
    width: 70%;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
}

.subscribe-btn{
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
}

.subscription-img{
    height: 200px;
}

/* Responsive */
@media (max-width: 768px){
    .container-background{
        height: 380px;
        max-width: 90vw;
    }

    .subscription-img{
        height: 80px;
    }

    .newsletter-paragraph{
        font-size: 12px;
    }

    .newsletter-tittle{
        font-size: 20px;
        margin-top: 2rem;
    }
    .container-background{
        margin-top: 1.5rem;
        
    }
}