.navbar {
  height: 2rem;
}

.apparat-logo img {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-left: 5rem;
}

i {
  padding-left: 2rem;
}

.shop-profile {
  padding-right: 2rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 5rem;
}
.navigation p {
  font-weight: 500;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*CheckOut*/

.shopping-list{
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.shopping-list img{
  height: 360px;
  width: 320px;
  object-fit: cover;
  border-radius: 20px;
  padding: 0;
  margin: 0.5rem;
  
}

.shopping-list-product{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.shopping-cart-details ul{
  padding: 0;
}

.total{
  font-weight: 600;
}

.product-name{
  font-size: 1rem;
  margin: 0 0 0 1rem;
  
}

.product-price{
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 0 1rem;
}

.product-sku{
  font-size: 0.7rem;
  margin: 0 0 0 1rem;
}

.action-button{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}