.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.category-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.category-box img:hover {
  background-color: #2C6E49;
  border-radius: 20px;
}

