.product-image {
    height: 460px;
    width: 420px;
    object-fit: cover;
    border-radius: 20px;
    padding: 0;
    margin: 0.5rem;
   
    
}

.product-details{
    font-size: 16px;
}

.product-features{
    font-size: 11px;
    margin-bottom: 0;
}


.product-features p :hover {
    cursor: pointer; 
}


.product-details-text{
    font-size: 10px;
}

.product-description{
    font-size: 12px;
}

.collapse-details-text {
font-size: 10px;
}

.text-select{
    font-weight: 100;
    font-size: 12px;
}

.select-arrows{
    width: 50px;
    height: 50px;
    margin-left: 130px;
}

.image-product-suggested{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    margin-top: 0;
}

.text-discover-designs{
    font-size: 13px;
}

.body-page{
    margin-top: 7rem;
}

.text-similar-design-name{
    font-size: 10px;
    margin: 0;
    margin-top: 0;
    
}

