* {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
}
i:hover {
  cursor: pointer;
}

body {
  width: 100%;
}
#root {
  margin: 0;
  padding: 0;
}

.navigation p:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

.apparat-logo:hover {
  cursor: pointer;
}
